
.main{
    
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    height: fit-content;
    background-color: #315b55;
    color: #eff7f6;
    transition: transform 0.5s ease-in-out;
	transition: border-radius 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    padding-bottom: 10px;
}

.main2{
    border-top-style: solid; 
    border-width: 5px;
    border-radius: 20px; 
    
    background-color: #eff7f6;
    transition: transform 0.5s ease-in-out;
	transition: border-radius 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
    
}

.main2:hover,.main:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 20px gray;
    border-radius: 20px;
}



.left1{
    /* width: 33%; */
    /* float: left; */
    text-align: center;
    padding-top: 15%;
    align-content: center;
}


.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}





.link1{
    text-decoration: none;
    color: white;
    font-style: bold;
}
.link1:hover{
    color: black;
}

#span2{
    padding-left: 20%;
}


.ex_main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    /* border-style: solid;
    border-width: 5px; */
    
}

.exdiv, .projects_div1, .skills_heading{      
    transition: transform 0.5s ease-in-out;
    /* box-shadow: 0px 0px 10px gray; */
	transition: border-radius 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
}

.projects_div1:hover,.ex_div:hover,.skills_heading:hover{
    transform: scale(0.98);
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px;
    background-color: #315b55;
    color: #eff7f6;
}





.skills1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;   
}
.skills_heading{
    border-style:dashed ;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
   
}


 .projects_div{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.lan1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


/* Style for the progress bars */
.progress {
    height: 30%;
    width: 50%;
    border-radius: 20px;
    background-color: #ddd;
    overflow: hidden;
    margin-top: 5%;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.3s ease-in-out;
}

/* Style for the different progress bars */
.progress-bar1 {
    width: 90%;
}

.progress-bar2 {
    width: 90%;
}

.progress-bar3 {
    width: 80%;
}
.progress-bar4{
    width: 75%;
}